body {
  background: rgba(30, 30, 30, 1);
}
.quicksand-medium-lime-32 {
  font-family: Quicksand;
  font-size: clamp(1rem, 1rem + 10vw, 1.8rem);
  font-weight: 400;
  color: rgba(214, 253, 42, 1);
  text-shadow: 5px 5px 10px rgba(10, 10, 10, 1);
  transition: all .3s ease-out;

}
.quicksand-medium-lime-32 a {
  text-decoration: none;
  color: rgba(214, 253, 42, 1);

}
a:visited, a:active {
  text-decoration: none;
  color: rgba(214, 253, 42, 1);

}
.quicksand-medium-lime-32:hover {
    font-family: Quicksand;
    font-size: clamp(1rem, 1rem + 10vw, 1.8rem);
    font-weight: 400;
    color: #76FF67ff;
    
  }

.screen {
  width: 100vw;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
.indexpage {
  background-color: rgba(30, 30, 30, 1);
  display: flex;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}
.navigation {
  align-items: flex-start;
  background-color: transparent;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 98px;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 250px;
  z-index: 20;
}
.logo-frame {
  align-items: flex-start;
  background-color: transparent;
  border: 1px none;
  display: block;
  height: 100px;
  padding: 50px 40px;
  position: relative;
  width: 200px;
}
.gamma-2dot2 {
  background-color: transparent;
  letter-spacing: 1.2vw;
  line-height: normal;
  margin-bottom: 0px;
  margin-right: 0px;
  mix-blend-mode: normal;
  position: relative;
  width: fit-content;
}
@media (min-height: 750px) {
  .nav-menu {
    align-items: flex-start;
    background-color: transparent;
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 75vh;
    gap: 14vh;
    padding: 100px 20px 0px;
    position: relative;
    width: 15vw;
  }
}
@media (max-height: 750px) {
  .nav-menu {
    align-items: flex-start;
    background-color: transparent;
    border: 1px none;
    display: flex;
    flex-direction: column;
    min-height: 75vh;

    gap: 6vh;
    padding: 50px 60px 0px;
    position: relative;
    width: 15vw;
  }
}
@media (min-height: 750px) {
  .rotate90 {
    transform: rotate(-90deg);
  }
}

.work {
  background-color: transparent;
  letter-spacing: 2.88px;
  line-height: normal;
  margin-left: -21.5px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}
.digital {
  background-color: transparent;
  letter-spacing: 2.88px;
  line-height: normal;
  margin-left: -35.5px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}
.physical {
  background-color: transparent;
  letter-spacing: 2.88px;
  line-height: normal;
  margin-left: -51.5px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}
.about {
  background-color: transparent;
  letter-spacing: 2.88px;
  line-height: normal;
  margin-left: -30.5px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}
.smart-layer-pointers {
  pointer-events: auto;
  visibility: visible;
}

.gammaOrangeLogo {
  background-color: transparent;
  display: flex;
  z-index: 20;
  max-width: 100vw;

}

.rectangle {
  background-color: transparent;
  max-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  position: absolute;
  align-items: center;
  justify-content: center;

}
.frame1 {
  background-color: transparent;
  max-height: 100vh;
  max-width: 100vw;
  margin: auto 0;
  display: flex;
  justify-items: center;
  align-items: center;

}
.tube1 {
    background-color: transparent;
    height: 50vh;
    left: 80vw;
    overflow: visible;
    position: absolute;
    top: 260px;
    width: 24vw;
    z-index: 10;
    transition: all .3s ease-out;

}
.tube1:hover {
    background-color: transparent;
    height: 50vh;
    left: 80vw;
    overflow: visible;
    position: absolute;
    top: 260px;
    width: 24vw;
    z-index: 10;
    transform: scale(105%);
    transform: rotate(-8deg);
}
.tube2 {
    background-color: transparent;
    height: 50vh;
    left: 30vw;
    overflow: visible;
    position: absolute;
    top: -30vh;
    transform: rotate(-54deg);
    width: 25vw;
    z-index: 10;
    transition: all .5s ease-out;

}
.tube2:hover {
    background-color: transparent;
    height: 50vh;
    left: 30vw;
    overflow: visible;
    position: absolute;
    top: -30vh;
    transform: rotate(-54deg);
    width: 25vw;
    z-index: 10;
    transform: scale(108%);
    transform: rotate(1deg);
}
.tube3 {
    background-color: transparent;
    height: 50vh;
    left: 10vw;
    overflow: visible;
    position: absolute;
    top: 80vh;
    transform: rotate(-30deg);
    width: 25vw;
    z-index: 10;
    transition: all .4s ease-out;

}
.tube3:hover {
    background-color: transparent;
    height: 50vh;
    left: 10vw;
    overflow: visible;
    position: absolute;
    top: 80vh;
    transform: rotate(-30deg);
    width: 25vw;
    z-index: 10;
    transform: scale(95%);
    transform: rotate(8deg);
}
/*
.layer1 {
    background-color: transparent;
    height: 610px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 347px;
}
.layer2 {
    background-color: transparent;
    height: 636px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 402px;
}
.layer3 {
    background-color: transparent;
    height: 636px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 402px;
    z-index: 10;

}
*/